__pycache__/
*.pyc
.venv/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
data/
cache/*.zip
cache/*.xlsx
.idea/
.vscode/
launcher/bin/
launcher/obj/
launcher/publish/
installer/payload/
installer/launcher-pub/
installer/bin/
installer/obj/
*.msi
*.pdb
.DS_Store
